

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale =1.0">
    <title>Signup Page</title>
  
 
    <section>
      <div class="color"></div>
      <div class="color"></div>
      <div class="color"></div>
      <div class="color"></div>
      <div class="color"></div>
      <div class="color"></div>
      <div class="box"><nav></nav>
        <div class="square" style="--i:0;"></div>
        <div class="square" style="--i:1;"></div>
        <div class="square" style="--i:2;"></div>
        <div class="square" style="--i:3;"></div>
        <div class="square" style="--i:4;"></div>
        <div class="container">
          <div class="form">
            <img class="img-login" src="assets/login.png" alt="login">

            <h2>Sign-Up</h2>
            <form>
              <div class="titles">
            <label for="title">Title</label>
              <select class="dropdown-list" name="">
              <option value="">Dr</option>
              <option value="">Prof</option>
              <option value="">Mr</option>
              <option value="">Mrs</option>
              <option value="">Ms</option>
            </select>
             </div>

               <div class="inputBox">
              <input type="text" placeholder="First Name">
              </div>
              <div class="inputBox">
             <input type="text" placeholder="Last Name">
             </div>
             <div class="inputBox">
              <input type="text" placeholder="Email">
             </div>
              <div class="inputBox">
              <input type="password" placeholder="Password">
              </div>
              <div class="inputBox">
              <input type="password" placeholder="Confirm Password">
              </div>
              <div class="inputBox">
              <input type="submit" value="Sign Up">
              </div>

              <p class="forget">Already have an account ?<a href="/login"> LogIn</a>
              </p>
            </form>

          </div>

        </div>

      </div>

    </section>

