<div class="container mt-5">

<a routerLink="dashboard" class="btn btn-succes">dashboard</a>
&nbsp;
<a routerLink="create-proposal" class="btn btn-succes">create-proposal</a>
&nbsp;
<a routerLink="createproject" class="btn btn-succes">createproject</a>
&nbsp;
<a routerLink="guidelines" class="btn btn-succes">guidelines</a>
&nbsp;
<a routerLink="home" class="btn btn-succes">home</a>
&nbsp;
<a routerLink="login" class="btn btn-succes">login</a>
&nbsp;
<a routerLink="project" class="btn btn-succes">project</a>
&nbsp;
<a routerLink="resetPassword" class="btn btn-succes">resetPassword</a>
&nbsp;
<a routerLink="resetpasswordcont" class="btn btn-succes">resetpasswordcont</a>
&nbsp;
<a routerLink="settings" class="btn btn-succes">settings</a>
&nbsp;
<a routerLink="signup" class="btn btn-succes">signup</a>
&nbsp;
<a routerLink="resetPassword" class="btn btn-succes">resetPassword</a>




<router-outlet></router-outlet>
</div>

