<h1>ResearcherDNA</h1>

<button onclick="myFunction()">Toggle dark mode</button>

<div class="banner">
  <div class="navbar">
    <h1 class="logo"></h1><br>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Menu</a></li>
      
    </ul>
  </div>

  <br><br><h1 align="center">Structured Research</h1><br><br><br><br>

  <br><br><div class="content">
    <br><br><h1>Create a project</h1>
    <h3><p>Templates, guidelines and supervisors ready at the helm.</p></h3>
      
      <div>
        <button type="button"><span></span>CREATE A RESEARCH</button><br>
        <button type="button"><span></span>RESEARCH PROPOSAL</button>
      </div>
  </div>

  <div>

    <h4>Brain Teaser~<br><br><p>"An unlikely event is likely to happen <br>because there are so many unlikely <br>events that could happen."<br><br> - Per Bak</p></h4>
  
  </div>

</div>



<div id="container">
</div>


