<p>create-proposal works!</p>
.
<h1 align="center">Create a research proposal</h1>

<div class="container">

</div>

<div class="row">
    <div class="col">
        <h1>Subjects</h1>
        <h4>Brain Teaser~<br><br><p>"An unlikely event is likely to happen <br>because there are so many unlikely <br>events that could happen."<br><br> - Per Bak</p></h4>
        <button type="button">Create</button>
    </div>
    <div class="col">
        <div class="card card1">
            <h5>Education</h5>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam eum officiis mollitia libero aliquid labore nesciunt porro veniam quisquam sint aliquam dolore similique corrupti perspiciatis distinctio, dignissimos excepturi culpa perferendis.</p>
        </div>
        <div class="card card2">
            <h5>Agriculture</h5>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam eum officiis mollitia libero aliquid labore nesciunt porro veniam quisquam sint aliquam dolore similique corrupti perspiciatis distinctio, dignissimos excepturi culpa perferendis.</p>
        </div>
        <div class="card card3">
            <h5>Physics</h5>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam eum officiis mollitia libero aliquid labore nesciunt porro veniam quisquam sint aliquam dolore similique corrupti perspiciatis distinctio, dignissimos excepturi culpa perferendis.</p>
        </div>
        <div class="card card4">
            <h5>Dentistry</h5>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam eum officiis mollitia libero aliquid labore nesciunt porro veniam quisquam sint aliquam dolore similique corrupti perspiciatis distinctio, dignissimos excepturi culpa perferendis.</p>
        </div>
        <div class="card card5">
            <h5>Architecture</h5>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam eum officiis mollitia libero aliquid labore nesciunt porro veniam quisquam sint aliquam dolore similique corrupti perspiciatis distinctio, dignissimos excepturi culpa perferendis.</p>
        </div>
        <div class="card card6">
            <h5>Computer Science</h5>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam eum officiis mollitia libero aliquid labore nesciunt porro veniam quisquam sint aliquam dolore similique corrupti perspiciatis distinctio, dignissimos excepturi culpa perferendis.</p>
        </div>
        <div class="card card7">
            <h5>Engineering & Tech</h5>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam eum officiis mollitia libero aliquid labore nesciunt porro veniam quisquam sint aliquam dolore similique corrupti perspiciatis distinctio, dignissimos excepturi culpa perferendis.</p>
        </div>
        <div class="card card8">
            <h5>Social Science</h5>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam eum officiis mollitia libero aliquid labore nesciunt porro veniam quisquam sint aliquam dolore similique corrupti perspiciatis distinctio, dignissimos excepturi culpa perferendis.</p>
        </div>
    </div>
</div>