
    <meta charset="utf-8">
    <title>Home Page</title>
    
  
    
    <nav class="navbar">
      <h1 class="logo">ResearcherDNA</h1>
      <ul class="nav-links">
        <li class="active"><a href="#"></a></li>
        

        <li><p class="forget"><a href="/login"> LogIn</a>
        </p></li>
  
        <li><p class="forget"><a href="/signup"> SignUp</a>
        </p></li>

      </ul>
    </nav>
    <header>
     <div class="header-content">
       <h2>The World of Research</h2>
       <div class="line"></div>
       <h1>Reasearch to be done</h1>
       <div class="line"></div>
       <h3>Intentional grammar</h3><br>
       <a href="#" class="ctn">Learn More</a>
     </div>
    </header>
 
