
<meta name="viewport" content="width=device-width">
<title>Project</title>

<input type="checkbox" name="" id="menu">

<nav>
    <label>ResearcherDNA</label>

    <ul>
        <li><a href="/home">Logout</a></li>
    </ul>

    <label for="menu" class="menu-bar">
        <i class="fa fa-bars"></i>
    </label>
</nav>
<div class="data"></div>
<div class="side-menu">

    <header>
        <img src="assets/login.png" alt="">
        <br> <br>

        <h2> Hi Username</h2>
    </header>
    <br>

    <a href="#"><i class="fa-solid fa-users"></i><span>Committee</span></a>
    <a href="#"><i class="fa-solid fa-dna"></i><span>ResearcherDNA</span></a>
    <a href="#"><i class="fa-solid fa-rectangle-history-circle-user"></i><span>myProjects</span></a>
    <a href="#"><i class="fa fa-user"></i><span>Profile</span></a>
    
    <a href="#" class="Logout"><span>Logout</span></a>
    

</div>