*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav{
    background: #d14d4d;
    line-height: 80px;
    position: fixed;
    width: 100%;
}
.data{
    background: url('../../assets/notepad.png');
    height:100vh;
    width: 100%;
    margin-left: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
}

label{
    line-height: 80px;
    font-size: 30px;
    color:#556b2f;
    font-weight: 200;
    margin-left: 50px;
    cursor: pointer;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    line-height: 80px;
    margin: 0 10px;
}

nav ul li a{
    color: whitesmoke;
    font-size: 20px;
    padding: 6px 15px;
    font-weight: 600;
    background-color: darkolivegreen;
    border-radius: 3px;
}

nav ul li:hover{
    background-color: #d14d4d;
    color: whitesmoke;
    transition: 0.5s;
}

.side-menu{
    position: fixed;
    background: #d14d4d;
    width: 250px;
    height: 100%;
    margin-top: 80px;
}

.side-menu header img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin-top: 30px;
    border: 3px solid whitesmoke ;
}

.side-menu header h2{
    color: #556b2f
}

.side-menu a{
   display: block;
   line-height: 60px;
   transition: 0.5s; 
}

.side-menu a:hover{
    background: #556b2f;
    padding-left: 20px;
}

.side-menu span{
    font-size: 20px;
    margin-left: 10px;
    color: whitesmoke;
}

.side-menu i{
    font-size: 20px;
    margin-left: 20px;
    color: whitesmoke;
}

.nav .menu-bar{
    float: right;
    margin-top: 20px;
    display: none;
    margin-right: 20px;
}

#menu{
    display: none;
}

.side-menu .Logout{
    display: none;
}

@media(max-width: 850px){
    .side-menu a span{
        display: none;
    }
    .side-menu header{
        display: none;
    }
    .side-menu{
        width: 100px;
    }
    .side-menu a i{
        display: block;
        line-height: 80px;
        text-align: center;
        margin-left: 0;
        font-size: 35px;
    }
    .data{
        margin-left: 100px;
    }
}

@media(max-width:650px){
    .data{
        display: none;
    }
    nav ul{
        display: none;
    }
    .side-menu{
        width: 100%;
        text-align: center;
        left: 100%;
        background-color: #4c516d;
        transition: all 0.5;
    }
    .side-menu a i{
        display: none;;
    }
    .side-menu a span{
        display: none;
    }
    .side-menu .Logout{
        display: block;
    }
    nav .menu-bar{
        display: block;
    }
}

#menu:checked ~ .side-menu{
    left: 0;
}






